:root {
  --banner-image: url(../assets/djkat_banner.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* --banner-image: url(../assets/djkat_banner_light.jpg); */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --banner-image: url(../assets/djkat_banner_dark.jpg); */
  }
}

@media (max-width: 64rem) {
  .hero-djkat {
      height: 15rem;
  }
}

.hero-djkat {
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
