:root {
  --banner-image: url(../assets/djkat_banner.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* --banner-image: url(../assets/djkat_banner_light.jpg); */
  }
}

.djkat-logo {
  display: flex;
}

.image-logo {
  width: auto;
  max-height: 15rem;
  margin: 0 auto;
}

@media (max-width: 64rem) {
  .hero-djkat {
    height: 16rem;
    background-image: cover;
  }

  .image-logo {
    width: auto;
    max-height: 14rem;
  }
}

.hero-djkat {
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
