@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/RobotoCondensed-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Définit l'étendue des poids pour une font variable */
  font-style: normal;
}

:root {
  --bulma-warning-rgb: 248, 184, 86;
  --bulma-warning-h: 34deg;
  --bulma-warning-s: 92%;
  --font-primary: "Roboto Condensed", sans-serif !important;
  --font-body-family: "Roboto Condensed", sans-serif !important;
}

/* Utility classes */
.w-100 {
  width: 100%;
}

.min-width-200px {
  min-width: 200px;
}

.is-gap-2 {
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .is-full-width-mobile {
    width: 100%;
    margin: 0.25rem 0 !important;
  }
}

html,
body {
  font-family: var(--font-primary) !important;
}

.soundcloud-djkat-link {
  width: 100%;
  height: 100%;
}
